# 杭州萧山区项目`WRF-CMAQ`模拟分析
## 观测结果预处理：*`MET-Data`*

---
*@author: Evan*\
*@date: 2023-08-09*

In [1]:
import xarray as xr
import numpy as np
import pandas as pd

import sys
sys.path.append('../../src/')
from namelist import *

# silence the warning note
import warnings
warnings.filterwarnings("ignore")

In [5]:
# 读取原始数据
xls=pd.read_excel('D:/data/Project_Xiaoshan/TEST_SIM/obsdata/originaldata.xlsx',header=0,na_values=['—',-99])
xls

,Year,Month,Day,Hour,AQI,PM2.5,PM2.5_24h,PM10,PM10_24h,SO2,SO2_24h,NO2,NO2_24h,O3,O3_24h,O3_8h,O3_8h_24h,CO,CO_24h,Station
0,2023,6,11,0,68.0,38.0,28.0,86.0,60.0,8.0,8.0,25.0,22.0,93.0,204.0,160.0,192.0,0.8,0.7,1
1,2023,6,11,1,68.0,39.0,28.0,86.0,61.0,8.0,8.0,30.0,22.0,73.0,204.0,73.0,73.0,0.8,0.7,1
2,2023,6,11,2,67.0,38.0,29.0,84.0,62.0,8.0,8.0,30.0,22.0,67.0,204.0,70.0,73.0,0.8,0.7,1
3,2023,6,11,3,61.0,31.0,29.0,71.0,63.0,8.0,8.0,22.0,22.0,89.0,204.0,76.0,76.0,0.7,0.7,1
4,2023,6,11,4,52.0,25.0,29.0,53.0,63.0,8.0,8.0,15.0,21.0,111.0,204.0,85.0,85.0,0.6,0.7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5035,2023,6,16,19,59.0,42.0,46.0,60.0,57.0,8.0,13.0,42.0,30.0,159.0,217.0,187.0,189.0,0.8,0.8,35
5036,2023,6,16,20,67.0,48.0,45.0,63.0,56.0,5.0,13.0,31.0,30.0,141.0,217.0,179.0,189.0,0.7,0.8,35
5037,2023,6,16,21,42.0,10.0,42.0,21.0,52.0,3.0,13.0,15.0,29.0,132.0,217.0,169.0,189.0,0.4,0.8,35
5038,2023,6,16,22,36.0,14.0,41.0,27.0,50.0,3.0,13.0,18.0,29.0,114.0,217.0,158.0,189.0,0.5,0.7,35
5039,2023,6,16,23,35.0,23.0,40.0,35.0,50.0,3.0,12.0,19.0,29.0,96.0,217.0,146.0,189.0,0.6,0.7,35

In [6]:

# 将日期与时间列合并
xls['datetime'] = pd.to_datetime(xls['Year'].astype(str)+'-'+xls['Month'].astype(str)+'-'+xls['Day'].astype(str)+' '+xls['Hour'].apply(lambda x: '{0:0>2}'.format(x)))

# 删除“日期”列和“时间”列
xls.drop(['Year','Month','Day','Hour'], axis=1, inplace=True)

# 设置为索引
xls.set_index('datetime',inplace=True)
xls

,AQI,PM2.5,PM2.5_24h,PM10,PM10_24h,SO2,SO2_24h,NO2,NO2_24h,O3,O3_24h,O3_8h,O3_8h_24h,CO,CO_24h,Station
datetime,,,,,,,,,,,,,,,,
2023-06-11 00:00:00,68.0,38.0,28.0,86.0,60.0,8.0,8.0,25.0,22.0,93.0,204.0,160.0,192.0,0.8,0.7,1
2023-06-11 01:00:00,68.0,39.0,28.0,86.0,61.0,8.0,8.0,30.0,22.0,73.0,204.0,73.0,73.0,0.8,0.7,1
2023-06-11 02:00:00,67.0,38.0,29.0,84.0,62.0,8.0,8.0,30.0,22.0,67.0,204.0,70.0,73.0,0.8,0.7,1
2023-06-11 03:00:00,61.0,31.0,29.0,71.0,63.0,8.0,8.0,22.0,22.0,89.0,204.0,76.0,76.0,0.7,0.7,1
2023-06-11 04:00:00,52.0,25.0,29.0,53.0,63.0,8.0,8.0,15.0,21.0,111.0,204.0,85.0,85.0,0.6,0.7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-16 19:00:00,59.0,42.0,46.0,60.0,57.0,8.0,13.0,42.0,30.0,159.0,217.0,187.0,189.0,0.8,0.8,35
2023-06-16 20:00:00,67.0,48.0,45.0,63.0,56.0,5.0,13.0,31.0,30.0,141.0,217.0,179.0,189.0,0.7,0.8,35
2023-06-16 21:00:00,42.0,10.0,42.0,21.0,52.0,3.0,13.0,15.0,29.0,132.0,217.0,169.0,189.0,0.4,0.8,35
2023-06-16 22:00:00,36.0,14.0,41.0,27.0,50.0,3.0,13.0,18.0,29.0,114.0,217.0,158.0,189.0,0.5,0.7,35
2023-06-16 23:00:00,35.0,23.0,40.0,35.0,50.0,3.0,12.0,19.0,29.0,96.0,217.0,146.0,189.0,0.6,0.7,35

In [7]:
# 将所有因包含括号等字符被读取为字符串的数据设置为空值
xls = xls.replace(to_replace=[r'\(.*?\)'], value=np.nan, regex=True)

In [8]:
sites = pd.read_excel('D:/data/Project_Xiaoshan/TEST_SIM/obsdata/siteslocation.xlsx')
sites

    城市     站点          经度         纬度
0   杭州     滨江  120.210999  30.209999
1   杭州     西溪  120.063004  30.274700
2   杭州    千岛湖  119.026001  29.635000
3   杭州     下沙  120.348000  30.305799
4   杭州    卧龙桥  120.126999  30.245600
5   杭州   浙江农大  120.190002  30.269199
6   杭州   朝晖五区  120.156998  30.289700
7   杭州   和睦小学  120.120003  30.311899
8   杭州    临平镇  120.301003  30.418301
9   杭州    城厢镇  120.269997  30.181900
10  杭州     云栖  120.087997  30.180799
11  杭州    镇二中  119.946400  30.049400
12  杭州   市府大楼  119.718300  30.236700
13  杭州   消防大队  120.155600  30.286400
14  绍兴    袍江站  120.598000  30.091101
15  绍兴  城东开发委  120.605003  29.991899
16  绍兴   市环保站  120.575996  30.007000
17  绍兴   树下王站  120.778900  30.003300
18  绍兴   绍兴中专  120.568300  29.936100
19  绍兴  柯桥区政府  120.490600  30.086100
20  绍兴   重华小学  120.875200  30.024900
21  绍兴   上虞中学  120.836900  30.013700
22  绍兴   柯桥妇保  120.472200  30.041500
23  绍兴   袍江中学  120.615300  30.076400
24  嘉兴   清河小学  120.744003  30.794600
25  嘉兴   嘉兴学院  120.725998  30.747801
26  嘉兴  嘉兴监测站  120.763000  30.756700
27  嘉兴  南湖区残联  120.784447  30.752501
28  嘉兴   秀洲住建  120.691600  30.773900
29  湖州   城北水厂  120.099998  30.886700
30  湖州   城西水厂  120.070000  30.824400
31  湖州   吉山新村  120.093002  30.861700
32  湖州  仁皇山新区  120.087502  30.895559
33  湖州   吴兴区站  120.184402  30.859600
34  湖州   南浔区站  120.414800  30.853800

In [9]:
# 根据站点分组导出
grouped = xls.groupby('Station')
i=0
for group_name, group_df in grouped:
    filename = str(sites['城市'][i]+'-'+sites['站点'][i])
    group_df.to_excel(f'D:/Download/{filename}.xlsx', index=True)
    i+=1

In [10]:
# 将全部站点取平均并导出
xls.groupby(xls.index).mean().to_excel('D:/Download/avg_2306.xlsx',index=True)

处理杭州市数据

In [11]:
hzxls = xls[xls['Station']<15]
hzxls

,AQI,PM2.5,PM2.5_24h,PM10,PM10_24h,SO2,SO2_24h,NO2,NO2_24h,O3,O3_24h,O3_8h,O3_8h_24h,CO,CO_24h,Station
datetime,,,,,,,,,,,,,,,,
2023-06-11 00:00:00,68.0,38.0,28.0,86.0,60.0,8.0,8.0,25.0,22.0,93.0,204.0,160.0,192.0,0.8,0.7,1
2023-06-11 01:00:00,68.0,39.0,28.0,86.0,61.0,8.0,8.0,30.0,22.0,73.0,204.0,73.0,73.0,0.8,0.7,1
2023-06-11 02:00:00,67.0,38.0,29.0,84.0,62.0,8.0,8.0,30.0,22.0,67.0,204.0,70.0,73.0,0.8,0.7,1
2023-06-11 03:00:00,61.0,31.0,29.0,71.0,63.0,8.0,8.0,22.0,22.0,89.0,204.0,76.0,76.0,0.7,0.7,1
2023-06-11 04:00:00,52.0,25.0,29.0,53.0,63.0,8.0,8.0,15.0,21.0,111.0,204.0,85.0,85.0,0.6,0.7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-16 19:00:00,44.0,17.0,48.0,42.0,71.0,6.0,8.0,22.0,49.0,140.0,236.0,194.0,197.0,0.5,0.8,14
2023-06-16 20:00:00,43.0,20.0,47.0,43.0,71.0,6.0,8.0,23.0,45.0,118.0,236.0,184.0,197.0,0.6,0.8,14
2023-06-16 21:00:00,51.0,27.0,47.0,52.0,71.0,6.0,8.0,28.0,44.0,98.0,236.0,167.0,197.0,0.6,0.8,14
2023-06-16 22:00:00,52.0,32.0,46.0,54.0,70.0,6.0,8.0,42.0,42.0,73.0,236.0,147.0,197.0,0.6,0.8,14
2023-06-16 23:00:00,NaN,29.0,45.0,49.0,69.0,6.0,8.0,31.0,41.0,NaN,236.0,137.0,197.0,0.6,0.8,14

In [12]:
hzxls.groupby(hzxls.index).mean().to_excel('D:/Download/hz_avg_2306.xlsx',index=True)